*{ 
    font-size: 18px;
    font-family: Georgia, Times, "Times New Roman", serif;
    padding:0;
    margin:0;
}


h2, h4, p, li{
    font-family: Arial, Helvetica, sans-serif;
    font-weight:normal;
}
h1{
    font-size: 3em;
    font-weight:normal;
}

h3{
    font-family: Georgia, Times, "Times New Roman", serif;
    color:#b89f57;
    font-size: 2.3em;
    font-weight:normal;
}

/* main header ********************************/
.header{
    background:#999999;
    height: 12em;
    width:100%
}
    
.header_top{
    height:2.5rem;
    width: 100%;
    border-bottom: 1px solid #FFFFFF;
    color: #FFFFFF;
}
    
.header_top_text{
    display:inline-block;
    margin: 1rem 2rem 0 2.1rem;
}
    
.social_media{
    display:inline-block;
    margin: .3rem 2rem 0 0;
    height: 2em;
    background-color: #FFFFFF;
    float:right; 
}

.header_icon{
    display:inline-block;
    width: 20em;
}
    
.header_icon img{
    width: 20em;
    height: auto;
    margin-left: .5rem;  
}

.hamburger_bars_wrapper{
    display:none;
}

.hamburger_bars{
    display:none;
}

.hamburger_navigation li, .hamburger_navigation{
    display:none;
}
    
.home_header_nav{
    display:inline-block;
    float: right;
    margin-top:5.4rem;
    margin-right:1.5em;
}
    
.home_header_nav li{
    display:inline-block;
    margin: 0 .7rem;
    font-size: 1rem;
}

.home_header_nav a{
    text-decoration:none;
    color:	#FFFFFF;
}

.currentPage{
    font-weight: bold;
    color: #000000;
}

.navLinks a:hover{ /*hover color ******/ 
    color:#3498DB;
    cursor: pointer;
}

.header_top img:hover{
    background-color:#3498DB;
    cursor:pointer;
}

.construction img{ 
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

/*footer**************************/
.footer{
    margin: 7em 0 0 0;
    background-color:#D9D9D9;
    height:12em;
    text-align: center;
}

.footer_text{
    color: #FFFFFF;
    letter-spacing: .7rem;  
    padding-top: 85px;
}


/*******   homepage *******************/
.headerOfBodyHome{
    height:20rem;
    width:100%;
    background:#D9D9D9;
    display: flex;
    align-items: center; 
    justify-content: center;
}

.vertical_welcome_message {
    flex-direction:column;
    flex-wrap: wrap; 
}

.headerOfBodyHome h1 { /*negative margins for gold line on homepage */
    text-align: center;
    border-bottom: 4px solid#b89f57;
    padding: 1rem 5rem 1rem 5rem;
    margin: .1rem -1rem 0 -1rem;
}

.headerOfBodyHome h2 {
    font-size: 1.3rem;
    text-align: center;
    padding-top:12px;
}

.main_area_wrapper{
    height:67rem;
}

.left_main_area{
    float:left;
    width:50%;
    height:40rem;
    overflow: hidden;
    display: table;
}

.imageContainter{
    text-align: center;
    vertical-align: top;
    display: table-cell;
}

.left_main_area img{
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    max-height: 1000px;
    width:100%
}

.right_main_area{
    float:right;
    width:50%;
    height:auto;
}

.right_main_area_text{
    padding: 4rem;
}

.right_main_area_text p{
    line-height: 2;
    margin-bottom: 2rem;
}

.homepageList, .homepageList2{
    padding-left:4rem;
    line-height: 2;
    margin-bottom: 1.5rem;
}


.homepageList li{
    list-style: none;
    background: url("images/check24.png") no-repeat left center; /*sets check mark for ul list bullets */ 
    vertical-align: middle;
    padding: 0 0 0 2.2rem;
    margin:0.7rem 0;
}

.homepageList2 li{
    padding-top:1rem;
    padding-left:.8rem;
    margin-left:1.5rem;
    margin-right: 3.2rem;
}

.indexMessageTitle{
    font-family: Georgia, Times, "Times New Roman", serif;
    color:#3498DB;
    text-align: center;
    padding-top: 1.9rem;
    padding-bottom: 1.5rem;
}


.aboutButtonWrapper{
    background: #b89f57;
    height: 3rem;
    width: 9rem;
    position: relative;
    margin: 5rem auto 2rem auto;
}

.aboutButton{
    text-decoration:none;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    text-align: center;
}

.aboutButton:hover{
    cursor:pointer;
}

.aboutButtonWrapper:hover{
    background-color:#3498DB;
    cursor:pointer;
}

.lower_social_media{
    visibility: hidden;
    display:none;
}



/*services page *************************************/
.maingBorderServices{
    border: 2px solid #999999;
    margin:3rem;
    border-radius: 1rem;

}

.mainWrapperServices{
    padding: 4rem 6rem;
}

.servicesTitle{
    color: #3498DB;
    text-align: center;
}

.subTitlesServices{
    text-align: center;
    margin:4rem auto 0 auto;
    background-color: #3498DB;
    line-height: 2.5rem;
    color:#FFFFFF;
    border-radius: .5rem;
    width:10rem;
}

.firstParagraphServices{
    margin: 1rem 0;
}

.lastParagraphServices{
    padding: 3rem 2rem;
    background:#3498DB;
    color:#FFFFFF;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    line-height: 2rem;
}

/*about me page *************************************/
.mainWrapperAboutMe{
    margin:3rem 6rem 4rem 6rem;
}

.mainWrapperAboutMe p{
    margin-top:2rem;
    line-height: 1.4;
}

.aboutPageChangesWrapper{
    width:15rem;
}

.aboutPageChanges{
    width:13rem;
}

.mainQualifications{
    height:12rem;
    background-color:#b89f57;
    padding-top: 1rem;
}

.mainQualifications .qualificationsWrapper h3{
    color:#FFFFFF;
}

.mainQualifications .aboutListUL li{
    color:#FFFFFF;
}

.mainQualifications2{
    height:14rem;
}

.qualificationsWrapper{
    display:flex;
    position:relative;
    margin: 4rem 6rem;
    height:auto;
}

.aboutListUL{
    position:absolute;
    margin-left: 10rem;
    left: 21.5rem;
    font-size: 1.1rem;
}

.aboutListUL li{
    font-size: 1.2rem;
    padding-top: .7rem;
}

.aboutListUL li:nth-of-type(2){
    padding-top: 1.7rem;
}


.aboutImageWrapper{
    margin-right: 4rem;
    text-align: right;
}

.aboutImages{
    margin: 0 4em;
}



/****** testimonial page ************************/
.testimonalsCardBody{
    margin:0;
    padding:0;
    display: flex;
    text-align: center;
    justify-content: center;
}

.containerQuote{
    position:relative;
    display:flex;
    text-align: center;
    justify-content: space-between;
    width: 1100px;
    flex-wrap:wrap;
    margin:4rem;
}

.boxQuote{
    position:relative;
    display: flex;
    text-align: center;
    justify-content: center;
    width: 420px;
    height:660px;
    margin:20px;
    background:#D9D9D9;
    padding:2rem;
    line-height: 1.5rem;
}

.contentQuote{
    text-align:center;
    padding: 20px;
}

.quotationImage{
    width:6rem;
}

.contentQuote h4{
    margin-top:2rem;
    text-transform: uppercase;
    font-weight: 600;
}
.qouteNames{
    font-style: italic;
}


/****** contact form page ********************************/
.mainContainer{
    display: flex;
}

.contactMessageWrapper{
    display:inline;
    width:50%
}
.contactMessage{
    margin: 7rem 2rem 1rem 7rem;
    line-height: 1.5rem;s
}

.contactMessage p{
    margin: 1.7rem 0 1.7rem 0;
}

.contactMessageTitle{
    color: #b89f57;
    margin-bottom: 3rem;
}

.socialMediaContactContainer{
    text-align: center;
}

.social_mediaContactPage{
    width:1.5rem;
    margin: 1.5rem;
}

.formContainerWrapper{
    display:inline;
    width:50%;
    padding-top: 3.7rem;
}

.formContainer{
    margin: 7rem 7rem 1rem 2rem;
}

label{
    width:7rem;
    display: inline-block;
    text-align: right;
    padding-right: .5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:normal;
}

textarea { 
    vertical-align: top; 
}

.inputBox, textarea{
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    width: 22rem;
    border-width: 2px;
    padding-left: 1rem;
}

label{
    line-height: 3rem;
}

input{
    line-height: 3rem;
}

textarea, label:nth-of-type(4){
    margin-top: 2rem;
    line-height: 1rem;
}

::placeholder {
    padding-left:.5rem;
    font-size: .9rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:normal;
}

.submitButtonWrapper{
    text-align: center;
}

.submitButton{
    text-decoration:none;
    background: #b89f57;
    color: white;
    width: 22rem;
    margin: 2rem 0 0 0;
    border-style: none;
}

.submitButton:hover{
    cursor:pointer;
    background-color:#3498DB;
}

.thankYouMessage{ 
    text-align: center;
    padding: 5rem 0 1rem 0;
    margin: 1.5rem;
}

.thankYouMessageTEXTWrapper{
    text-align: center;
    margin: 1.5rem;
}

.thankYouMessageTEXT{
    display: inline-block;
    margin: 1rem 0 1rem 0;
    line-height: 2rem;
    width: 25rem;
    text-align: left;
}

.error{
    color:red;
    margin-left: .5rem;
    font-size: .7rem;
}

/****************************************************      start of media breaks  **************/

@media only screen and (max-width : 1400px) {
    .main_area_wrapper{
        height:82rem;
    }

    .mainQualifications2{
        height:15rem;
    }    
}

@media only screen and (max-width : 1200px) {
    .containerQuote{
        justify-content: center;
    }

    label{
        text-align: left;
    }

    .contactMessage{
        margin: 7rem 2rem 1rem 4rem;
    }

    .formContainer{
        margin: 7rem 4rem 1rem 2rem;
    }

    .inputBox, textarea{
        width: 20rem;  
    }
    .mainWrapperServices {
        padding: 4rem;
    }

    .maingBorderServices {
        margin: 4rem;
    }

    .qualificationsWrapper{
        margin: 4rem 3rem;
    }
    

@media only screen and (max-width : 1150px) {
    .homepageList li:nth-child(3){
        background: url("images/check24.png") no-repeat left top;
    }

    .main_area_wrapper{
        height:87rem;
    
    }
}

@media only screen and (max-width : 1080px) {
    .home_header_nav{
        margin-right: 30px;
    }   
    
    .home_header_nav li{
        font-size: .9rem;
    }

    .main_area_wrapper{
        height:95rem;
    }

    .mainQualifications2{
        height:18rem;
    }

    


@media only screen and (max-width : 1000px) {
    .home_header_nav{
        visibility: hidden;
        display:none;
        float:none;
        margin-top:0m;
        margin-right:0;
    }

    .social_media{
        margin: .3rem 1.4rem 0 0;
    }
    
    .hamburger_bars_wrapper{
        display:inline-block;
        float:right;
        margin: 107px 25px 0 0;
    }
    
    .hamburger_bars{
        display:block;
        width: 37px;
        height: 4px;
        background-color: black;
        margin: 3px 0;
        border-radius:25px;
    }

    .hamburger_bars_hover:hover{
        background-color:#3498DB;
        cursor:pointer;
    }

    .vertical_welcome_message{
        z-index:-1;
    }

    .headerOfBody, .headerOfBodyHome{ /** this keeps popup nav (from hamburger) below global header ****/
        position:relative;         
    }
    
    .hamburger_navigation{ /** hamburger menu box ***/
        display: none;
        background: #999999; 
        width:250px;
        height:280px;
        position: absolute;
        right: 24px;
        top: 0px;
        z-index: 10;
        box-shadow: 10px 10px 9px black;
        border: solid 1.7px #000000;
        cursor: pointer;
    }

    .hamburger_navigation ul{
        text-align: center;
    }

    .hamburger_navigation li{
        display:block;
        font-size: 1rem;
        border-bottom: solid 1px #000000;
        padding:10px 0 10px 0; 
        cursor: pointer;
    }

    .hamburger_navigation a{
        text-decoration:none;
        color:	#FFFFFF;
        cursor: pointer;
    }

    .hamburger_navigation a:hover{ /*hover color ******/ 
        color:#3498DB;
        cursor: pointer;
    }


    .right_main_area_text{
        padding: 2rem;
    }

    .right_main_area_text h3{
        margin:1.5rem 0  1.5rem  0;
    }

    .footer_text{
        padding-top: 90px;  
    }

    .headerOfBodyHome h1{
        padding: 1rem 3rem 1rem 3rem;
    }

    .aboutImages {
        margin: 1.5rem 1em;
    }
    
    .aboutImageWrapper{
        margin:0;
        padding:0;
        text-align: center;
    }
}

@media only screen and (max-width : 900px) {
    .headerOfBodyHome h1 {
    padding: 1rem 2rem 1rem 2rem;
    }

    .mainContainer{
        flex-direction: column;
    }

    .contactMessageWrapper, .formContainerWrapper{
        width:100%;
        text-align: center;
        padding-top: 0;
    }

    .contactMessage, .formContainer{
        margin: 5rem 5rem 0 5rem;
    }

    .homepageList2 li {
        margin-right: 1.5rem;
    }

    .main_area_wrapper{
        height:90rem;
    }

    .mainWrapperServices {
        padding: 4rem 3rem;
    }

    .maingBorderServices {
        margin: 3rem;
    }

    .qualificationsWrapper{
        display:block;
        position:static;
    }

    .aboutListUL{
        position:static;
        margin-top:1rem;
    }
 

}

@media only screen and (max-width : 860px) {
    .main_area_wrapper{
        height:100rem;
    }
}

@media only screen and (max-width : 800px) {
    .main_area_wrapper{
        height:150rem;
    }
}

@media only screen and (max-width : 768px) {
    .header_icon img{
        width: 15rem;
        height: auto;
        margin:0;
    }

    .header{
        height: 10rem;
    }

    .header_top_text{
        margin: 1rem .7rem 0 .7rem;
    }

    .header_top img{
        margin: .3rem .7rem 0 0;
        height: 2em;
    }

    .hamburger_bars_wrapper{
        margin: 75px 25px 0 0;
    }

    .left_main_area{
        width:100%;
        height:40rem;
    }
    
    .right_main_area{
        width:100%
    }
    
    .main_area_wrapper{
        height:115rem;
    }

    .headerOfBodyHome h1 {
        text-align: center;
        padding: 1rem 0 1rem 0;
        margin: auto;
        width:80%;
    }

    .containerQuote{
        margin:.3rem;
    }

    .boxQuote{
        width:100%;
        height:auto;
        padding: 15px;
    }

    .homepageList li:nth-child(3){
        background: url("images/check24.png") no-repeat left center;
    }

    .homepageList2 li {
        margin-right: 2rem;
    }

    .mainWrapperServices {
        padding: 4rem 2rem;
    }

    .maingBorderServices {
        margin: 2rem;
    }

    .mainWrapperAboutMe{
        margin: 3rem 2rem 4rem 2rem;
    }

    .qualificationsWrapper{
        margin: 4rem 2rem;
    }
}
@media only screen and (max-width : 650px) {
    .mainQualifications2{
        height:25rem;
    } 
}

@media only screen and (max-width : 600px) {

    .footer_text{
        padding-right: 10px; 
        padding-left: 10px; 
    }

    .left_main_area{
        height:15rem;
    }

    .imageContainter{
        height:15rem;
    }

    .thankYouMessageTEXT{
    width: 20rem;
    }

    .inputBox, textarea{
        width: 80%;
        min-width: 17rem;
    }
}


}

@media only screen and (max-width : 530px) {
    .homepageList li:nth-child(3){
        background: url("images/check24.png") no-repeat left top;
    }
}

@media only screen and (max-width : 500px) {
    .social_media{
        visibility: hidden;
    }
    
    
    .footer_text{
        padding-top: 1em;  
    }
    

    .lower_social_media{
        height: 2em;
        margin-top: 1.5em; 
        padding: 0 2em 0 2em;
        visibility: visible;
        display:inline-block;
    }

    .lower_social_media:hover{
        background-color:#3498DB;
    }

    .submitButton{
        width: 70%;
        min-width: 17rem;
    }

    .contactMessage, .formContainer{
        margin: 4rem 2.5rem 0 2.5rem;
    }

    .homepageList2 li {
        margin-right: 1rem;
    }


    .mainWrapperServices {
        padding: 4rem 1rem;
    }

    .maingBorderServices {
        margin: 1.5rem;
    }

    .qualificationsWrapper{
        position:relative;
    }
    .aboutListUL li{
        position:absolute;
        left:5rem;
        margin-right: 1rem;
    } 

    .aboutListUL li:nth-of-type(2){
        top:10rem;
    } 

    .mainQualifications {
        height: 15rem;
    }



}


@media only screen and (max-width : 435px) {
    .main_area_wrapper{
        height:125rem;
    }
    
    .header_icon{
        width: auto;
    }

    .header{
        position: relative;
    }

    .hamburger_bars_wrapper{
      position: absolute;
      right:-12px
    }

    .hamburger_menu{
        right:15px;
    }

    .hamburger_navigation{ /***************** hamburger menu box ***/
        right: 12px;
    }

    .construction img{ 
        min-width:315px;
    }

    .thankYouMessageTEXT{
    width: 15rem;
    }


    .inputBox, textarea{
    min-width: 10rem;
    }

}

@media only screen and (max-width : 400px) {
    .main_area_wrapper{
        height:130rem;
    }
}

@media only screen and (max-width : 385px) {
    .main_area_wrapper{
        height:135rem;
    }

    .aboutListUL li {
        left:4rem;
    }
}
    
    

@media only screen and (max-width : 370px) {

    .main_area_wrapper{
        height:145rem;
    }

    .header_icon img{
        width: 13rem;
    }

    .mainQualifications2{
        height:30rem;
    }
}


@media only screen and (max-width : 360px) {
    .contactMessageTitle{
        font-size: 2.5rem;
    }

    .main_area_wrapper{
        height:155rem;
    }
}


@media only screen and (max-width : 340px) {
    .main_area_wrapper{
        height:160rem;
    }

    .header_icon img{
        width: 12rem;
    }
}



@media only screen and (max-width : 330px) {
    .header_top_text:nth-child(2){
        display:none;
    }
    .main_area_wrapper{
        height:170rem;
    }
}



